* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}
img {
  border: none;
}
body {
  width: 100vw;
  height: 100vh;
  background: #2b2b2b;
  color:#fff;
  overflow-x: hidden;
}
.Header {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  width: 100%;
  align-items: center;  
  justify-content: center;
}
.Header img {
  width: 80%;
  max-width: 200px;
  margin: .5rem 0;
}

.Layout {
  clear: both;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 700px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Layout_ms {
  clear: both;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 700px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Card {
  display: flex;
  margin: auto;
  width: 80%;
  height: 80%;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Card img {
  width: 80%;
  max-width: 400px;
  margin: 3.5rem 0;
}

.Card h1 {
  color: #fff;
  text-align: center;
}

.Card p {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

a {
  text-decoration: none;
}
a:hover {
  color: #949494;
}
.social_links{
  margin:0;
}

.social_links img{
  width:14.9pt;
  height:14.9pt;
  margin-bottom:.2rem;
}

.main_content{
  font-size:12px;
  width:60%;

}
.no content {
  padding: 30% 0;
}
a{
  color:#ffffff !important;
}
.bottom_links a:link{
  font-size:14px;
  color:#949494;
}
.bottom_links a:hover{
  font-size:14px;
  color:#777;
}
.col {
  display: block;
  float: left;
  margin: 0% 0% 0% 0%;
  align-content: center;
}
.span_1_of_3-2-1 {
  width: 29.3%;
  text-align: center!important;
  margin-right: 2% !important;
  margin-left: 2% !important;
  color: white;
}
.span_vtf_logo {
margin: 0% 0% 0% 5%;
}
.span_1_of_4 {
align-content: center;
width: 35%;
color: #fff;
font-weight: bold;
font-size:0.6em;
text-align: center;
line-height:30px;
width: 200px;
height: 28px;
list-style-type: none;
}
.span_1_of_6 {
  margin: 0% 0% 0% 3%;
  width: 13.3%;
}
.button {
  background-color: #999;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.title {
  font-weight: bold;
}
.coloredIndicator{
  margin-left: 10rem;
  margin-right: 10rem;
}
.logoText {
  color: #000000;
}
.tab {
  font-weight: bold;
}
.logoSize {
   height: 150px;
   width: 150px;
   margin-left: 10rem;
}
.logoContainer {
    margin: auto;
}
.icon img {
  height: 50px;
  width: 100px;
}
.listItemText {
  color: #fff;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.box{
	Display: block;
	height: 200px;
	width: inherit;
	margin: 1rem;
}

.box img {
	width: 80%;
	object-fit: contain;
	max-height: 140px;
}
	

.Group {
    zoom:1; /* For IE 6/7 */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

/*  FULL WIDTH GRID OPTIONS  */

.span_1_of_3 {width: 30%;
box-sizing: border-box;}


@media only screen and (max-width: 680px) {
	.span_1_of_3  { width: 100%; }

  .span_1_of_4 {
    flex-direction: column;
    width:100%;
  }
  .span_1_of_6 {
    flex-direction: column;
    width:60%;
  }
 .button {
  margin-bottom: 10rem;
 }
  .Header {
    margin-bottom: 8rem;
  }
  .Layout_ms {
    width: 100%;
    margin-top: 30rem;
  }
}
@media only screen and (max-width: 1000px) {
  .span_1_of_4 {
    flex-direction: column;
    width:100%;
  }
  .Header {
    margin-bottom: 8rem;
  }
  .button {
    margin-bottom: 10rem;
   }
}
@media only screen and (max-width: 830px) {
  .span_1_of_4 {
    flex-direction: column;
    width:100%;
  }
  .Header {
    margin-bottom: 8rem;
  }
  .button {
    margin-bottom: 10rem;
   }
   .span_1_of_6 {
    flex-direction: column;
    width:100%;
  }
  .Layout_ms {
    width: 100%;
    margin-top: 30rem;
  }
}
@media only screen and (max-width: 700px) {
  .span_1_of_4 {
    flex-direction: column;
    width:100%;
  }
  .span_1_of_6 {
    flex-direction: column;
    width:100%;
  }
  .Header {
    margin-bottom: 8rem;
  }
  .button {
    margin-bottom: 10rem;
   }
   .Layout_ms {
    width: 100%;
    margin-top: 30rem;
  }
}
@media only screen and (max-width: 480px) {
  .span_1_of_4 {
    flex-direction: column;
    width:100%;
  }
  .span_1_of_6 {
    flex-direction: column;
    width:100%;
  }
}
@media (max-width: 1200px) {
  .span_1_of_4 {
    flex-direction: column;
    width:100%;
  }
  .Header {
    margin-bottom: 8rem;
  }
  .Layout {
    width: 100%;
    height: 100%;
    min-width: unset;
  }
}